.main-table {
	min-height: 60vh;
}

.form-table .hide {
	visibility: hidden;
}

#agreeAffiliate label {
	font-size: 0.8rem;
}

#agreeAffiliate input {
	font-size: 0.8rem;
	height: 0.8rem;
	width: 0.8rem;
	min-width: 0.8rem;
}

#agreeAffiliate input:before {
	margin: -5px 0 0 -6px;
	width: 0.8rem;
}

#feedSettingList .feed-custom {
	max-width: 30vw;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#feedSettingList thead .button {
	background-color: #ffda41;
}

#feedSettingList tbody .button {
	background-color: #a4ffd1;
}

.tab {
	display: inline-block;
	width: 100%;
	border-bottom: 3px solid #5097b9;
}

.tab li {
	float: left;
	margin: 0 10px -1px 0;
	padding: 5px 10px;
	border: 1px solid #5097b9;
	cursor: pointer;
	list-style: none;
}

.tab li.active {
	color: #ffffff;
	background: #5097b9;
	cursor: auto;
}

.tab-area {
	display: none;
}

.tab-area.show {
	display: block;
}

label.required:after{
	content: " *";
	color: #ef6340;
}

#validError{
	color: #d43838;
}

.nowrap{
	white-space: nowrap;
}

.thead-id{
	width: 7%;
}

.thead-shortcode{
	width: 20%;
}

.thead-customhtml{
	width: 25%;
}